
body, h1,h2,h3,h4,h5,h6, button.btn{
    font-weight: bold;
}
button.btn-warning{
    background-color: #ff9342;
}
body{
    margin:0px;
}
.navbar-inverse{
    background-color: #333;
    padding:25px 0 25px 0;
    margin:0px;
    border-radius:0px;
    font-size:15px;
    font-style:strong;
}
.navbar-brand > img {
    margin-top:-22px;
}

p {
    font-size: small !important;
    font-weight: normal;
    color: #6b6a6a;
}
.footer{
    background-color: #333;
    color: #fff;
    padding-bottom: 30px;
    }
.footer p{
    color: #fff;
    font-size:12px!important;
    font-weight: lighter;
 }
.pull-inner{
    padding-left:10px!important;
    padding-right:10px!important;
}
ul li a {
    cursor: pointer;
    color: #fff;
}
.footer *{padding : 5px;}
.footer  .posts h5{padding : 0;}
.footer h5 ~ p{ padding:0px!important; margin:0px!important}
.clear-bottom{
    padding-bottom: 15px!important;
    margin-bottom: 15px;
}

.footer ul li{
     list-style: none;
     padding:0px;
     font-weight: normal;

}
button.btn-warning{
margin-bottom:30px;
}
@media (max-width:992px){
button.btn-warning{
margin-bottom:10px;
}
}
/* progress bar */

 /* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 4px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 4px;
  background: #4caf50;
  width: 0%;
}